<h2>Contributors Worldwide</h2>
<p>24PullRequests has contributors from all over the world, here are just some of those that have made their location publicly available.</p>
<p class="aside">All location data is from public GitHub profiles of currently active users.</p>

<div id="map" style="width: 100%; height: 500px;"></div>

<div class="hidden" id="maps-data"><%= raw @map_markers.to_json %></div>

<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region=" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

<%= javascript_include_tag "maps" %>
