# Ignore bundler config & vendor
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

coverage
.idea
.vagrant
.env

# Ignore ds_store
.DS_Store

Thumbs.db
.ruby-gemset

# To not force .overcommit.yml on anyone.
.overcommit.yml
.rvmrc

# Ignore application configuration
/config/application.yml
