language: ruby
rvm:
  - 1.9.3
env:
  - DB=postgresql
script:
  - RAILS_ENV=test CI=true bundle exec rake --trace db:migrate spec konacha:run
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - psql -c 'create database tfpullrequests_test' -U postgres
