language: ruby
rvm:
  - 2.0.0
env:
  - DB=postgresql
script:
  - RAILS_ENV=test POLTERGEIST=true bundle exec rake --trace db:migrate spec konacha:run
before_script:
  - psql -c 'create database tfpullrequests_test' -U postgres
