%h2
  - if @language
    =t("pull_requests.language.count", count: number_with_delimiter(pull_request_count), language: @language)
  - else
    =t("pull_requests.count", count: number_with_delimiter(pull_request_count))
= render @pull_requests
= paginate @pull_requests
