.row-fluid.clearfix
  %h2
    = pull_request_count
    - if @language
      pull requests already made in #{@language}!
    - else
      Pull Requests already made!
  = render @pull_requests
  = paginate @pull_requests
