%h2
  - if @language
    =t("pull_requests.language.count", count: pull_request_count, language: @language)
  - else
    =t("pull_requests.count", count: pull_request_count)
= render @pull_requests_decorator.paginated
= paginate @pull_requests_decorator.paginated
