%li.organisation
  = link_to image_tag(organisation.avatar_url, width: 80, height: 80, alt: organisation.login), organisation_path(organisation), rel: 'tooltip', data: { original_title: organisation_tooltip(organisation) }
