#organisations.row.clearfix
  .col-md-12
    %h3=t("organisations.title", count: organisation_count)

    .organisations
      %ul.clearfix.avatar-list.js-org-list
        = render @organisations

      = link_to_next_page @organisations, t("more"), remote: true, class: 'btn btn-success more'
