.row.clearfix.fullwidth-panel
  .col-md-12
    %h3=t("organisations.title", count: number_with_delimiter(organisation_count))

    .js-org-pagination
      %ul.clearfix.avatar-list.avatar-list-lg.js-org-list
        = render @organisations

      = link_to_next_page @organisations, t("more"), remote: true, class: 'btn btn-success more'
