#projects.row-fluid.clearfix
  %h3
    = t("language.projects.count", count: number_with_delimiter(project_count_for_language), language: @language)
    = link_to t("language.projects.suggest", language: @language), new_project_path(language: @language), :class => 'btn pull-right'

  .row-fluid.clearfix
    .span12
      = render @projects
    = paginate @projects
