%ol.unstyled.clearfix.calendar-inner
  - 1.upto(calendar.start_padding) do
    %li.calendar-day.calendar-padding

  - calendar.each_day do |date, gift|
    %li.calendar-day{ :class => ("gifted" if gift.present?) }
      - if gift.present? && gift.user == current_user
        .remove-gift
          = link_to raw("&times;"), gift_path(gift), :title => "Remove gift", :method => :delete, "data-confirm" => "Remove this gift?"
      %span{ :class => date == Date.today ? 'calendar-mday calendar-mday-today' : 'calendar-mday' }
        %span.visible-xs-inline> 12/
        = date.mday
      - if gift.present?
        = link_to gift.pull_request_title, gift.pull_request_issue_url, :target => :_blank

  %li.calendar-day.calendar-christmas
    .calendar-inner
      %span.calendar-mday
        %span.visible-xs-inline> 12/
        25
      %span.octicon.octicon-star.festive-star
      =t("happy_holidays")
