%li.avatar-cell
  = link_to user_path(user.nickname), class: "avatar-link" do
    = image_tag(user.avatar_url, alt: user.nickname, class: "avatar-img")
    %span.pr-badge
      %span.octicon.octicon-git-pull-request
      = user.pull_requests_count
