#users.row-fluid.clearfix
  .span12
    %h3
      = user_count
      - if @language
        Developers using #{@language} are involved
      - else
        Developers already involved

    %div.users
      %ul.clearfix.userlist
        = render @users

      = link_to_next_page @users, 'More', remote: true, class: 'btn btn-success more'
