#users.row-fluid.clearfix
  .span12
    %h3
      = User.count
      Developers already involved

    %div.users
      %ul.clearfix.userlist
        = render @users

      = link_to_next_page @users, 'More', remote: true, class: 'btn btn-success more'
