<%= content_for(:body_open) do %>
  <div id="fb-root"></div>
  <script>

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


  </script>
<% end %>
<div class="row social-buttons">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-2">
    <div class="fb-like" data-layout="button_count" data-send="false" data-show-faces="false" data-width="450"></div>
  </div>
  <div class="col-sm-2">
    <iframe src="http://ghbtns.com/github-btn.html?user=24pullrequests&repo=24pullrequests&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
  </div>
  <div class="col-sm-2">
    <iframe src="http://ghbtns.com/github-btn.html?user=24pullrequests&repo=24pullrequests&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
  </div>
</div>
