<div class="event-item">
  <h2>
    <%= link_to event.name, event %>
  </h2>
  <small>
    <span class="octicon octicon-location"></span>
    <%= event.location %>
    <br/>
    <span class="octicon octicon-clock"></span>
    <%= event.formatted_date %>
  </small>
</div>
