%h3 Manage projects

%h4 Search by github repository
= simple_form_for "",  url: admin_projects_path, method: :get, remote: true, html: { class: 'form-search' } do |f|
  =f.input :repository, placeholder: "e.g. andrew/24pullrequests", label: false, input_html: { class: "input-large search-query" , value: params[:repository] }

  =f.submit "Search", class: 'btn'

%hr
#projects
  = render partial: 'projects/editable_project', collection:  @projects, as: :project, locals: { admin: true }
