:plain
  (function($projects) {
    var $new = $("#{escape_javascript(render(@projects))}").find("a[rel=tooltip]").tooltip().end();

    $projects.find('.span12')
          .append($new)

    $projects.parent().find(".more")
          .replaceWith(
            "#{escape_javascript(link_to_next_page @projects,
                                                   t('more'),
                                                   remote: true,
                                                   class: 'btn btn-success more')}"
          );
  })($("#projects"));
