:plain
  (function($projects) {
    var $new = $("#{escape_javascript(render(@projects))}");

    $projects.find('.span12')
          .append($new)

    $('#someprojects').find('.span12')
          .html(
            "#{escape_javascript(link_to_next_page @projects,
                                                   t('more'),
                                                   remote: true,
                                                   class: 'btn btn-success more')}"
          );
  })($("#projects"));
  $('#noprojects').hide()
  $('#someprojects').show()
