%h2=t("projects.new.title")
%p=t("projects.new.info")

= render partial: 'form'

%p
  =t("projects.new.suggestion")
  = succeed('.') do
    = link_to 'issue', 'https://github.com/andrew/24pullrequests/issues'
