<p>Hi #{@user.nickname},</p>
<p>Congratulations and thank you, you've sent 24 Pull Requests!</p>
<p>Remember, the gift of giving doesn't stop after Christmas, keep up the good work.</p>
<p>See you next year!</p>
