%p Hi #{@user.nickname},

%p
      Congratulations, and Thank You! You've sent [24 Pull Requests](https://github.com/pulls) between December 1st and December 24th to Open Source projects! Remember, the gift of giving doesn't stop after Christmas - keep up the good work.
