<h1>
  24 Pull Requests in 2018
</h1>

<p>
  For the past 6 years, 24pullrequests has encouraged developers to give back to the open source projects they use.
  The idea was simple: "Send 24 pull requests between December 1st and December 24th", giving little gifts of code throughout December.
</p>

<p>
  Since the initial launch of the project, open source usage has exploded with millions of people contributing to projects around the world.
</p>

<p>
  One area where open source continues to struggle with is in the <%= link_to 'diversity of contributors', 'https://en.wikipedia.org/wiki/Diversity_in_open-source_software', target: :blank %>
  and a problem that compounds that issue is that tool and metrics often only acknowledge code contributions, ignoring all the other ways that people can contribute to open source projects.
</p>

<p>
  <b>24 Pull Requests</b> has been part of that problem too, in previous years, you could only participate if your contributions could be presented in the form of a pull request, which is difficult if you're contributing by:
</p>

<ul>
  <li>
    Organising an event
  </li>
  <li>
    Answering questions on stackoverflow
  </li>
  <li>
    Supporting and mentoring new contributors
  </li>
  <li>
    Speaking at a conference or user group
  </li>
  <li>
    Managing the governance aspects of a project
  </li>
  <li>
    Writing blog posts about how to use a project
  </li>
  <li>
    Mailing stickers to contributors
  </li>
  <li>
    Donating money to help pay a projects infrastructure costs
  </li>
  <li>
    and many other ways of contributing without writing code...
  </li>
</ul>

<p>This year we're making the biggest change since the start of the project: you'll be able to record every kind of contribution you make to open source, not just pull requests.</p>

<p>With this change, we hope to use 24 Pull Requests to encourage all kinds of contributions to open source projects, it also opens up the ability to track contributions to open source projects that aren't hosted on GitHub.com.</p>

<hr>

<h4>How to track your contributions this year:</h4>

<p>For contributions that are pull requests, everything will work the same as previous years, just login and sync your pull requests from the <%= link_to 'dashboard', dashboard_path %>.</p>

<p>For contributions that you've made to an open source project that aren't pull requests, you can record them in the <%= link_to 'new contribution form', new_contribution_path %>.</p>
