<section>
  <h3>
    <%= t("contributors.title") %>
  </h3>
  <div class="row">
    <% users.each_slice(6) do |row| %>
      <ul class="thumbnails clearfix">
        <% row.each do |user| %>
          <li class="collaborator col-md-2 col-sm-4 col-xs-6">
            <div class="thumbnail">
              <%= link_to image_tag(user.avatar_url(200), :width => 200, :height => 200, :alt => user.nickname).html_safe, user %>
              <div class="caption">
                <strong>
                  <%= link_to "@#{user.nickname}", user %>
                </strong>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</section>
