%h2 About

%section
  %h3 Sponsors
  24 Pull Requests was made possible thanks to the help and donations of some great sponsors.

  Many thanks to...

  %section
    =link_to 'http://dnsimple.com' do
      = image_tag 'sponsors/dnsimple.png', :class => 'img-polaroid'
    = link_to 'http://cooperpress.com' do
      = image_tag 'sponsors/cooper-press.png', :class => 'img-polaroid'
