%h1 JSON API

%p Little know fact that there is a JSON api for 24 Pull Requests, details of each end point below:

%h3 Pagination

%p Requests that return multiple items will be paginated to 99 items by default. You can specify further pages with the ?page parameter. 

%pre
  :plain
    $ curl http://24pullrequests.com/users.json?page=2

%h3 JSON-P Callbacks

%p You can send a ?callback parameter to any GET call to have the results wrapped in a JSON function. This is typically used when browsers want to embed content in web pages by getting around cross domain issues. The response includes the same data output as the regular API.

%pre
  :plain
    $ curl http://24pullrequests.com/users.json?callback=foo

    foo([
          {
            "id":1,
            "nickname":"andrew",
            "gravatar_id":"8ddbf811da78bb0daeeb3cacd7cf743f",
            "github_profile":"https://github.com/andrew",
            "twitter_profile":"https://twitter.com/teabass",
            "pull_requests_count":11,
            "link":"http://24pullrequests.com/users/andrew",
            "pull_requests":[
              {
                "title":"Daily and weekly reminder email content",
                "issue_url":"https://github.com/andrew/24pullrequests/issues/66",
                "repo_name":"andrew/24pullrequests",
                "body":"Fix all the things!"
              }
            ]
          }
        ]
      }
    )

.alert.alert-info
  %strong What more options?
  Open an issue on
  = link_to 'GitHub', 'https://github.com/andrew/24pullrequests'
  if you would like more features in the API, or even send us a pull request!

%h2 Projects

%p All suggested projects on the site, ordered alphabetically.

%pre
  :plain
    $ curl http://24pullrequests.com/projects.json

    [
      {
        "description":"This very site!",
        "github_url":"https://github.com/andrew/24pullrequests",
        "main_language":"Ruby"
      }
    ]

%h2 Pull Requests

%p Load all pull requests by users of the site during December, ordered by newest first, also includes the user who made the pull request.

%pre
  :plain
    $ curl http://24pullrequests.com/pull_requests.json

    [
      {
        "title":"Fix Date Due search and capture Monthly Charge search error",
        "issue_url":"https://github.com/poundifdef/VirginMobileMinutesChecker/issues/31",
        "repo_name":"poundifdef/VirginMobileMinutesChecker",
        "body":"Fixes widget display and prevents displaying incorrect data when search fails",
        "user":{
          "id":153,
          "nickname":"christophermanning",
          "gravatar_id":"3f9394a7fb1070144a59644462eb4916",
          "github_profile":"https://github.com/christophermanning",
          "twitter_profile":null,
          "pull_requests_count":12,
          "link":"http://24pullrequests.com/users/christophermanning"
        }
      }
    ]

%h2 Users

%p Load all users who have signed up to the site, ordered by how many pull requests they have sent so far in December, also includes their organization(s) and pull requests.

%pre
  :plain
    $ curl http://24pullrequests.com/users.json

    [
       {
          id:773,
          nickname:"Trott",
          gravatar_id:"d9bebc8f32aaad1275a931e2045196e0",
          github_profile:"https://github.com/Trott",
          twitter_profile:null,
          pull_requests_count:10,
          link:"http://24pullrequests.com/users/Trott",
          organisations:[
             {
                login:"ucsf-ckm",
                avatar_url:"https://0.gravatar.com/avatar/.....",
                link:"http://24pullrequests.com/organisations/2983"
             },
             {
                login:"ilios",
                avatar_url:"https://1.gravatar.com/avatar/.....",
                link:"http://24pullrequests.com/organisations/2373"
             }
          ],
          pull_requests:[
             {
                title:"split different "            tables" into files",
                issue_url:"https://github.com/Trott/music-routes-data/pull/12",
                repo_name:"Trott/music-routes-data",
                body:""
             },
             {
                title:"optimize images via ImageOptim",
                issue_url:"https://github.com/andrew/24pullrequests/pull/360",
                repo_name:"andrew/24pullrequests",
                body:"Reduced the payload size for images. Didn't add any tests because that would require screen snapshots and comparisons and stuff, I imagine. Probably a whole new feature there."
             },
             {
                title:"add track data",
                issue_url:"https://github.com/Trott/music-routes-data/pull/9",
                repo_name:"Trott/music-routes-data",
                body:""
             }
          ]
       }
    ]

%p Load information for a specific user.

%pre
  :plain
    $ curl http://24pullrequests.com/users/andrew.json

    {
       id:1,
       nickname:"andrew",
       gravatar_id:"8ddbf811da78bb0daeeb3cacd7cf743f",
       github_profile:"https://github.com/andrew",
       twitter_profile:"https://twitter.com/teabass",
       pull_requests_count:3,
       link:"http://24pullrequests.com/users/andrew",
       organisations:[
          {
             login:"github",
             avatar_url:"https://1.gravatar.com/avatar/....",
             link:"http://24pullrequests.com/organisations/100"
          },
          {
             login:"railsrumble",
             avatar_url:"https://2.gravatar.com/avatar/.....",
             link:"http://24pullrequests.com/organisations/16"
          },
          {
             login:"railsgirls",
             avatar_url:"https://0.gravatar.com/avatar/......",
             link:"http://24pullrequests.com/organisations/2163"
          },
       ],
       pull_requests:[
          {
             title:"Removed the old information box",
             issue_url:"https://github.com/andrew/24pullrequests/pull/431",
             repo_name:"andrew/24pullrequests",
             body:"No need to show it now that it’s December"
          },
          {
             title:"Upgraded to rails 4.0.2",
             issue_url:"https://github.com/andrew/24pullrequests/pull/447",
             repo_name:"andrew/24pullrequests",
             body:"Security fixes ftw"
          },
          {
             title:"Fix path to background image",
             issue_url:"https://github.com/andrew/24pullrequests/pull/421",
             repo_name:"andrew/24pullrequests",
             body:"Uses the rails asset-url so the asset pipeline can handle it."
          }
       ]
    }


%h2 Organisations

%p Load all organizations that have signed up to the site, also includes the users that belong to each organisation.

%pre
  :plain
    $ curl http://24pullrequests.com/organisations.json
    [
       {
          login:"Rio-Perl-Mongers",
          avatar_url:"https://1.gravatar.com/avatar/....",
          link:"http://24pullrequests.com/organisations/1",
          users:[
             {
                id:4912,
                nickname:"lorn",
                gravatar_id:"362b77d943afe986bc6ead2bf11d0e3f",
                github_profile:"https://github.com/lorn",
                twitter_profile:null,
                pull_requests_count:1,
                link:"http://24pullrequests.com/users/lorn",
                organisations:[
                   {
                      login:"Rio-Perl-Mongers",
                      avatar_url:"https://1.gravatar.com/avatar/....",
                      link:"http://24pullrequests.com/organisations/1"
                   }
                ]
             }
          ]
       },
       {
          login:"enspiral",
          avatar_url:"https://1.gravatar.com/avatar/....",
          link:"http://24pullrequests.com/organisations/2",
          users:[
             {
                id:4913,
                nickname:"fourseven",
                gravatar_id:"b11f4f822d575034efe1226caf580cc4",
                github_profile:"https://github.com/fourseven",
                twitter_profile:null,
                pull_requests_count:0,
                link:"http://24pullrequests.com/users/fourseven",
                organisations:[
                   {
                      login:"enspiral",
                      avatar_url:"https://1.gravatar.com/avatar/....",
                      link:"http://24pullrequests.com/organisations/2"
                   }
                ]
             },
             {
                id:2800,
                nickname:"MdreW",
                gravatar_id:"72a90a9901ec355490d9fd1a4489136a",
                github_profile:"https://github.com/MdreW",
                twitter_profile:null,
                pull_requests_count:0,
                link:"http://24pullrequests.com/users/MdreW",
                organisations:[
                   {
                      login:"enspiral",
                      avatar_url:"https://1.gravatar.com/avatar/....",
                      link:"http://24pullrequests.com/organisations/2"
                   }
                ]
             },
             {
                id:1406,
                nickname:"infertux",
                gravatar_id:"a175f0d74a9505e2dfde61158b2de2ab",
                github_profile:"https://github.com/infertux",
                twitter_profile:null,
                pull_requests_count:0,
                link:"http://24pullrequests.com/users/infertux",
                organisations:[
                   {
                      login:"enspiral",
                      avatar_url:"https://1.gravatar.com/avatar/....",
                      link:"http://24pullrequests.com/organisations/2"
                   },
                   {
                      login:"Ung-UTT",
                      avatar_url:"https://2.gravatar.com/avatar/....",
                      link:"http://24pullrequests.com/organisations/1824"
                   },
                   {
                      login:"buckybox",
                      avatar_url:"https://0.gravatar.com/avatar/....",
                      link:"http://24pullrequests.com/organisations/1825"
                   }
                ]
             }
          ]
       }
    ]


%p Load information for a specific organisation 

%pre
  :plain
    $ curl http://24pullrequests.com/organisations/uswitch.json 

    {
     login:"uswitch",
     avatar_url:"https://1.gravatar.com/avatar/....",
     link:"http://24pullrequests.com/organisations/1945",
     users:[
        {
           id:2969,
           nickname:"jasonneylon",
           gravatar_id:"81b7f1163094366a9200678bf9c05697",
           github_profile:"https://github.com/jasonneylon",
           twitter_profile:null,
           pull_requests_count:0,
           link:"http://24pullrequests.com/users/jasonneylon",
           organisations:[
              {
                 login:"cleanweb-uk",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1916"
              },
              {
                 login:"uswitch",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1945"
              }
           ]
        },
        {
           id:3358,
           nickname:"Quantisan",
           gravatar_id:"34ff435e90c3846663c4ade5a4802c25",
           github_profile:"https://github.com/Quantisan",
           twitter_profile:null,
           pull_requests_count:0,
           link:"http://24pullrequests.com/users/Quantisan",
           organisations:[
              {
                 login:"Cascading",
                 avatar_url:"https://2.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/2236"
              },
              {
                 login:"uswitch",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1945"
              }
           ]
        },
        {
           id:5,
           nickname:"barisbalic",
           gravatar_id:"380ec9b091a6f8d876640230c918c2cc",
           github_profile:"https://github.com/barisbalic",
           twitter_profile:"https://twitter.com/BarisBalic",
           pull_requests_count:7,
           link:"http://24pullrequests.com/users/barisbalic",
           organisations:[
              {
                 login:"uswitch",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1945"
              }
           ]
        },
        {
           id:5221,
           nickname:"annez",
           gravatar_id:"ce1098004eeae9c75e29ad9d55ad0528",
           github_profile:"https://github.com/annez",
           twitter_profile:null,
           pull_requests_count:0,
           link:"http://24pullrequests.com/users/annez",
           organisations:[
              {
                 login:"uswitch",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1945"
              }
           ]
        },
        {
           id:4801,
           nickname:"christianblunden",
           gravatar_id:"46fb7a1cf08a5ba36aec6ab9bf24d0ff",
           github_profile:"https://github.com/christianblunden",
           twitter_profile:null,
           pull_requests_count:0,
           link:"http://24pullrequests.com/users/christianblunden",
           organisations:[
              {
                 login:"uswitch",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1945"
              }
           ]
        },
        {
           id:4806,
           nickname:"randomvariable",
           gravatar_id:"52e9eb9ba38876d84d99a172bfa2e6dd",
           github_profile:"https://github.com/randomvariable",
           twitter_profile:"https://twitter.com/randomvariable",
           pull_requests_count:0,
           link:"http://24pullrequests.com/users/randomvariable",
           organisations:[
              {
                 login:"uswitch",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1945"
              }
           ]
        },
        {
           id:532,
           nickname:"tgk",
           gravatar_id:"00f49762dbd87490ec9bf790579f2574",
           github_profile:"https://github.com/tgk",
           twitter_profile:null,
           pull_requests_count:0,
           link:"http://24pullrequests.com/users/tgk",
           organisations:[
              {
                 login:"uswitch",
                 avatar_url:"https://1.gravatar.com/avatar/....",
                 link:"http://24pullrequests.com/organisations/1945"
              }
           ]
        }
     ]
  }

