%h1 Contributing

%p There are lots of different ways that you can contribute to open source projects:

%ul
  %li
    %p
      %strong Open issues -
      often projects will have open issues that you can help out with, providing support or patches so they can be closed.
  %li
    %p
      %strong New features -
      perhaps a library is missing a killer feature, can you add it? Often it's worth speaking with the maintainer before starting big features to see if it will be merged.
  %li
    %p
      %strong Documentation fixes -
      clarifications of parts you find confusing, inconsistencies with current behavior, etc.
  %li
    %p
      %strong Convention fixes -
      are most binary checks named IsFoo() but one is named Foo_exists() ? Do a quick refactor patch for it. Is one Exception named oddly, or have an unclear message?
  %li
    %p
      %strong Examples -
      does an example highlighting something you're confused about exist? Once you figure it out, whip up an example and contribute. Others are also confused about it - I promise.
  %li
    %p
      %strong Code commenting -
      do the comments contradict the code? Is there something in the code that confuses you? Once you figure it out, fix it and submit.
  %li
    %p
      %strong Testing -
      clone the repo and run the tests. Do you get any failures? Do you notice any areas lacking in coverage? Testing is also a great way to find out more about the internal workings of the project.

%h3 Other guides online

%ul
  %li= link_to 'Using Pull Requests', 'https://help.github.com/articles/using-pull-requests'
  %li= link_to 'A quick guide to pull requests', 'http://beust.com/weblog/2010/09/15/a-quick-guide-to-pull-requests/'
  %li= link_to 'You (yes, you!) should contribute to open source', 'http://thechangelog.com/post/5367356233/you-yes-you-should-contribute-to-open-source'
  %li= link_to 'How to contribute a patch to a GitHub hosted Open Source project', 'http://www.hanselman.com/blog/GetInvolvedInOpenSourceTodayHowToContributeAPatchToAGitHubHostedOpenSourceProjectLikeCode52.aspx'