<h1>
  24 Pull Requests
  <span>Giving back little gifts of code for Christmas</span>
</h1>
<p>24 Pull Requests is a yearly initiative to encourage developers around the world to send a pull request every day in December up to Xmas.</p>
<p>This is the site to help promote the project, highlighting why, how and where to send your pull requests.</p>
<div class='row clearfix'>
  <div class='grid-4 grid-alpha'>
    <h2>'Tis the season</h2>
    <p>You've been benefiting from the use of open source projects all year, now is the time to say thanks to the maintainers of those projects, and a little birdy tells me that they love recieving pull requests!</p>
  </div>
  <div class='grid-4'>
    <h2>Get involved</h2>
    <p>There are loads of ways to get involved in an open source project, improving documentation, helping fix existing issues and bugs, improving code quality and test coverage or adding missing features.</p>
  </div>
  <div class='grid-4 grid-omega'>
    <h2>Build your profile</h2>
    <p>Contributing to open source projects is also a great way to build your profile in the community and improve your cv.</p>
    <p>It's really easy to get started, even small contributions can be really valuable to a project.</p>
  </div>
</div>