<h1>
  24 Pull Requests
  <span>Giving back little gifts of code for Christmas</span>
</h1>
<p>24 Pull Requests is a yearly initiative to encourage developers around the world to send a pull request every day in December up to Xmas.</p>
<p>This is the site to help promote the project, highlighting why, how and where to send your pull requests.</p>
<div class='row clearfix'>
  <div class='grid-4 grid-alpha'>
    <h2>'Tis the season</h2>
    <p>You've been benefiting from the use of open source projects all year, now is the time to say thanks to the maintainers of those projects, and a little birdy tells me that they love recieving pull requests!</p>
  </div>
  <div class='grid-4'>
    <h2>Get involved</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class='grid-4 grid-omega'>
    <h2>Build your profile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
