%div{ :style => 'text-align:center;' }
  = image_tag 'sad_tree.png'
  %h1 We're sorry, but something went wrong

  %p
    %a{ :href => 'http://24pullrequests.com/'} Go back to the home page
    , email us at
    %a{ :href => "mailto: info@24pullrequests.com" } info@24pullrequests.com
    or even better.. open an issue on
    %a{ :href => "https://github.com/24pullrequests/24pullrequests/issues/" } GitHub!
