<div style="text-align:center;">
  <%= image_tag 'sad_tree.png' %>
  <h1>Nothing found</h1>
  <p>
    Still lost?
    <%= link_to 'Go back to the home page', root_url %>
    or email us at
    <a href="mailto:info@24pullrequests.com">info@24pullrequests.com</a>
  </p>
</div>
