- if current_user.pull_requests.year(current_year).any?
  = render :partial => 'pull_requests/pull_request', :collection => pull_requests
- elsif DateTime.new(current_year, 12, 1) > DateTime.now
  %p=t('dashboard.not_december')
- else
  %p=t("dashboard.no_pull_requests")
