- if current_user.pull_requests.year(current_year).length > 0
  = render :partial => 'pull_requests/pull_request', :collection => pull_requests
- else
  %p You've not sent any pull requests, what are you waiting for?!
