%h2 Welcome back #{user.nickname}

%p This is where you can see all the activity we've tracked for you over Christmas.

= link_to 'Change Email Prefences', email_path, :class => 'btn'

%h3 Recent Pull Requests

%ul
  = render :partial => 'pull_requests/pull_request', :collection => pull_requests