<p>Are you new to contributing to open source? Check out the guides here: <%= link_to nil, contributing_url %></p>
<p>You can also follow @24pullrequests on Mastodon: <%= link_to nil, mastodon_url %></p>
<p>You can change frequency of these emails here: <%= link_to nil, preferences_url %></p>
<p>You can unsubscribe to these emails here: <%= link_to nil, user_unsubscribe_url(@user.unsubscribe_token) %></p>
