<p>Are you new to sending pull requests? Check out the guides here: <%= contributing_url %></p>
<p>You can also follow @24pullrequests on twitter: <%= twitter_url %></p>
<p>You can unsubscribe or change frequency of these emails here: <%= preferences_url %></p>
