Hi #{@user.nickname},

Only X days left until Christmas!

We've got some suggested projects for you to send pull requests today.

- if @user.skills.any?
  We've guessed what languages you know based on the repos on your GitHub profile, if you'd like to change them you can do that here: http://24pullrequests.com/email
- else
  You can customise which types of project we suggest by setting your favourite languages in the preferences area here: http://24pullrequests.com/email

Suggested projects:

%ul
  - @suggested_projects.each do |project|
    %li
      %h4
        = project.name
        = link_to project.github_url, project.github_url
      %p= project.description

Are you new to sending pull requests? Check out the guides here: http://24pullrequests.com/email

You can also follow @24pullrequests on twitter: http://twitter.com/24pullrequests

Unsubscribe or change frequency of these emails: http://24pullrequests.com/email

See you tomorrow!
