$calendar-background: $header-background;

.calendar {
  padding: 15px 10px 15px 15px;
  background-color: $calendar-background;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  h4 {
    margin-top: 20px;
  }
}

.calendar-inner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.calendar-day {
  display: block;
  float: left;
  background-color: #fff;

  $total-width: 100%;
  $relative-width: $total-width/7;

  width: $relative-width;
  height: 100px;
  overflow: hidden;

  line-height: 100%;

  @media (max-width: 500px) {
    height: 50px;
  }

  .calendar-inner {
    /* hack */
    display: table;
    table-layout: fixed;
    /* end */
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    border: 1px solid $calendar-background;
    p.small {
      display: none;
    }
    @media (max-width: 768px) {
      p.large {
        display: none;
      }
      p.small {
        display: block;
      }
    }
  }
}

.calendar-mday {
  float: right;
  font-size: 110%;
  padding: 0 10px 2px 2px;
  color: #666;
}

.calendar-mday-today {
  font-size: 120%;
  font-weight: 800;
  color: #333;
}

.calendar-padding {
  background-color: $calendar-background;
}

.calendar-christmas {
  text-align: center;
  h4 {
    @media (max-width: 1024px) {
      font-size: 14px;
    }
    @media (max-width: 500px) {
      float: left;
      text-indent: -999px;
      background: url(#{image_path('star.png')}) center 0 no-repeat;
      margin-top: 0;
      padding-bottom: 10px;
      width: 100%;
    }
    @media (-webkit-min-device-pixel-ratio: 1.5) {
      background: url(#{image_path('star@2x.png')}) 0 0 no-repeat;
      background-size: 25px 25px;
    }
  }
}
