$calendar-background: #f9f9f9;
$festive-colour: $header-background;

.calendar-inner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.calendar-day {
  $total-width: 100%;
  $relative-width: $total-width/7;

  width: $relative-width;
  height: 120px;
  border-top: 5px solid #eee;
  background-color: $calendar-background;
  overflow: hidden;
  line-height: 100%;
  display: block;
  position: relative;
  float: left;
  padding: 8px;

  &:nth-of-type(7n) {
    margin-right: 0;
  }

  &.gifted {
    border-top-color: $festive-colour;

    &:hover .remove-gift {
      display: block;
    }
  }

  @media (max-width: 500px) {
    height: 50px;
  }
}

.remove-gift {
  background-color: $festive-colour;
  height: 12px;
  width: 12px;
  line-height: 12px;
  border-radius: 12px;
  text-align: center;
  display: none;
  position: absolute;
  top: 8px;
  right: 6px;

  a, a:hover { color: #fff; }
}

.calendar-mday {
  float: right;
  font-size: 90%;
  color: #666;
}

.calendar-mday-today {
  font-size: 120%;
  font-weight: 800;
  color: #333;
}

.calendar-padding {
  background-color: $calendar-background;
}

.calendar-christmas {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.festive-star {
  display: block;
  font-size: 26px;
  margin: 0 auto 5px;
  clear: both;
  color: $festive-colour;
}
