// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#skills {
  .col-sm-3 {
    text-align: right;
    margin-bottom: 15px;

    .control-label {
      float: right;
    }
  }
  label {
    padding: 0
  }
  .controls {
    float: right;
    margin-left: $grid-gutter-width;
  }
}