.language {
  a {
    color: white;
    text-transform: none;

    &:hover {
      text-decoration: underline;
      color: white;
    }
  }

  // https://github.com/doda/github-language-colors
  .ada & { background-color: #02f88c }
  .applescript & { background-color: #3581ba }
  .arc & { background-color: #ca2afe }
  .arduino & { background-color: #bd79d1 }
  .asp & { background-color: #6a40fd }
  .assembly & { background-color: #a67219 }
  .autohotkey & { background-color: #6594b9 }
  .boo & { background-color: #d4bec1 }
  .c & { background-color: #555 }
  .csharp & { background-color: #bb92af }
  .cpp & { background-color: #f34b7d }
  .clojure & { background-color: #db5855 }
  .coffeescript & { background-color: #244776 }
  .coldfusion & { background-color: #ed2cd6 }
  .common-lisp & { background-color: #3fb68b }
  .d & { background-color: #fcd46d }
  .dart & { background-color: #bbb }
  .delphi & { background-color: #b0ce4e }
  .dylan & { background-color: #3ebc27 }
  .ecl & { background-color: #8a1267 }
  .eiffel & { background-color: #946d57 }
  .elixir & { background-color: #6e4a7e }
  .emacs-lisp & { background-color: #c065db }
  .erlang & { background-color: #949e0e }
  .factor & { background-color: #636746 }
  .fancy & { background-color: #7b9db4 }
  .fantom & { background-color: #ddd }
  .fortran & { background-color: #4d41b1 }
  .go & { background-color: #8d04eb }
  .gosu & { background-color: #82937f }
  .groovy & { background-color: #e69f56 }
  .haxe & { background-color: #346d51 }
  .haskell & { background-color: #29b544 }
  .io & { background-color: #a9188d }
  .ioke & { background-color: #078193 }
  .java & { background-color: #b07219 }
  .javascript & { background-color: #f15501 }
  .lua & { background-color: #fa1fa1 }
  .matlab & { background-color: #bb92ac }
  .max & { background-color: #ce279c }
  .mirah & { background-color: #c7a938 }
  .nemerle & { background-color: #0d3c6e }
  .nimrod & { background-color: #37775b }
  .nu & { background-color: #c9df40 }
  .ocaml & { background-color: #3be133 }
  .objective-c & { background-color: #f15501 }
  .objective-j & { background-color: #ff0c5a }
  .ooc & { background-color: #b0b77e }
  .parrot & { background-color: #f3ca0a }
  .perl & { background-color: #0298c3 }
  .perl6 & { background-color: #0298c3 }
  .php & { background-color: #6e03c1 }
  .prolog & { background-color: #74283c }
  .puppet & { background-color: #cc5555 }
  .pure-data & { background-color: #f15501 }
  .python & { background-color: #3581ba }
  .r & { background-color: #198ce7 }
  .racket & { background-color: #ae17ff }
  .rebol & { background-color: #358a5b }
  .ruby & { background-color: #701516 }
  .rust & { background-color: #dea584 }
  .scala & { background-color: #7dd3b0 }
  .scheme & { background-color: #1e4aec }
  .self & { background-color: #0579aa }
  .shell & { background-color: #5861ce }
  .smalltalk & { background-color: #596706 }
  .standard-ml & { background-color: #dc566d }
  .supercollider & { background-color: #46390b }
  .tcl & { background-color: #e4cc98 }
  .turing & { background-color: #45f715 }
  .vala & { background-color: #3581ba }
  .verilog & { background-color: #848bf3 }
  .vhdl & { background-color: #543978 }
  .viml & { background-color: #199c4b }
  .visual-basic & { background-color: #945db7 }
  .xquery & { background-color: #2700e2 }
}

.language-checkbox {
  padding: 4px 8px;
  cursor: pointer;
  white-space: nowrap;

  input[type=checkbox] {
    margin-right: 4px;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
