.project.inactive {
  color: #999;

  .info {
    text-transform: none;
  }

  p {
    font-style: italic;
  }
}

#clear_languages, #clear_labels {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  top: -3px;
}

#projects .labels.label-info {
  margin-left: 5px;
}

#filters .checkbox {
  display: inline-block;
}
