.pull_request{
  h4{
    margin:0;
    small{
      line-height:20px;
      font-size:11px;
      margin-left:5px;
    }
  }
  p{
    word-wrap: break-word;
  }
  .image{
    float:left;
    margin:0 15px 10px 0;
  }
}