body{
  background:red;
  margin:0;
  padding:0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow:rgba(0, 0, 0, 0.398438) 0px 1px 3px;
  color:#fff;
}
canvas{
  position:absolute;
  top:0;
  z-index:-1;
}
h1{
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
  text-align:center;
  margin:60px;
}
h1 span{
  display:block;
  margin-top:20px;
  font-size: 24px;
  letter-spacing:0;
}
.forkme{
  position: fixed;
  display:block;
  top: 0;
  right: 0;
}

.forkme img{
  border: 0;
}

footer{
  font-size:14px;
  margin:20px 0;
}