$link-color: #bc3b3b;

body{
  background-color: #e3e3e3;
  margin:0;
  padding:0;
}

a{
  color: $link-color;

  &:hover{
    color: #953030;
  }
}

section {
  margin: 20px 0;
}

.header-background {
  position: absolute;
  width: 100%;
  height: 600px;
  background: #a63636 url('/assets/header-snow.png') no-repeat;
}

.container-fluid{
  min-height:600px;
}

.logo {
  $width: 180px;
  $height: 76px;

  position: relative;
  width: $width;
  height: $height;
  left: 50%;
  margin-left: -$width/2;
  background: url('/assets/logo.png') no-repeat bottom;

  a {
    position: absolute;
    width: $width;
    height: $height;
    color: transparent;
  }

  &.logo-dark {
    background: url('/assets/logo-dark.png') no-repeat bottom;
  }
}

header {
  position: relative;

  .logo {
    padding-top: 60px;
  }

  .bar {
    position: absolute;
    width: 100%;
    height: 13px;
    background-color: #942f2f;
  }

  .tagline {
    $width: 620px;
    $height: 110px;

    position: relative;
    width: $width;
    height: $height;
    left: 50%;
    margin-left: -$width/2;
    padding-top: 40px;
    background: transparent url('/assets/tagline.png') no-repeat bottom;
  }
}

.constrained {
  $side-padding: 15px;
  $width: 940px-($side-padding*2);

  position: relative;
  max-width: $width;
  margin: 0 auto 0;
  padding: 10px $side-padding;
}

nav, .faulx-nav {
  @extend .constrained;
  margin-top: 25px;
}

.faulx-nav {
  height: 5px;
}

nav {
  a {
    color: #efefef;
  }

  .nav {
    margin-bottom: 0;
  }

  .nav-pills a {
    background-color: darken($link-color, 12%);

    &:hover {
      $shadow: inset 0 3px 2px rgba(0,0,0,0.05);

      -webkit-box-shadow: $shadow;
         -moz-box-shadow: $shadow;
              box-shadow: $shadow;

      color: #efefef;
      background-color: darken($link-color, 15%);
    }
  }

  .nav-pills > .active > a,
  .nav-pills > .active > a:hover {
    color: #efefef;
    background-color: darken($link-color, 25%);
  }
}

article {
  @extend .constrained;

  background-color: #fff;

  -moz-box-shadow: 0 0 3px 0px #ccc;
  -webkit-box-shadow: 0 0 3px 0px #ccc;
  box-shadow: 0 0 3px 0px #ccc;

  /* Thanks http://border-radius.com */
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer {
  position:relative;
  width: 100%;

  .dark{
    color: #e3e3e3;
    padding: 10px 0;
    background:#434343;

    ul {
      margin-top: 30px;
      li {
        border-left: 1px solid #333;
        display: inline-block;
        padding-left: 10px;
        padding-right: 7px;

        &:first-child {
          border-left: none;
          padding-left: 0;
        }
      }
    }

    a {
      font-weight: 800;
      font-size: 110%;
      color:#fff;
      text-decoration:underline;
    }

    .dark-inner {
      @extend .constrained;
    }
  }

  .ftw {
    color: #000;
    text-shadow: rgba(255,255,255,0.7) 2px 1px 0px;
    width: 100%;
    height: 40px;
    margin-top:20px;
    font-size:12px;
    text-align: center;
    background-color: #e3e3e3;
  }
}

.forkme{
  position: absolute;
  display:block;
  top: 0;
  z-index: 10;
  right: 0;
}

.forkme img{
  border: 0;
}

.alert{
  margin-top:10px;
}

#languages{
  margin:0;
  li{
    box-shadow:rgba(0, 0, 0, 0.398438) 0px 1px 3px;
    float:left;
    display:inline-block;
    height:20px;
    background:#fff;
    padding:3px 10px;
    list-style:none;
    border-radius:5px;
    margin-right:10px;
    margin-bottom:10px;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    a{
      color:#bc3b3b;
      text-shadow:none;
      text-decoration:none;
    }
    &.disabled{
      opacity:0.5;
    }
  }
}

#projects{
  .project{
    margin:15px 0 60px;
    padding-right:20px;
    width:45%;
    min-height:100px;
    float:left;
    @media (max-width: 767px) {
      width:100%;
      min-height:0;
      margin-bottom:20px;
    }
    .title{
      padding:5px 0;
      margin-bottom:5px;
      border-bottom: 1px dashed #e3e3e3;
      h4{
        display:inline;
        border-right:1px solid #e3e3e3;
        padding-right:10px;
        margin-right:10px;
        text-transform:uppercase;
      }
      a{
        font-size:12px;
      }
    }
  }
}
#noprojects{
  display:none;
}

#users{
  background:#eee;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  @media (min-width: 767px) {
    margin: 20px -35px;
    padding:0 35px;
  }
  @media (max-width: 767px) {
    margin:20px -20px;
    padding:0 20px;
  }
  h3{
    text-align:center;
  }
  ul{
    list-style:none;
    margin:20px 0;
    padding:0;
    li{
      float:left;
      border:2px solid #fff;
      box-shadow:rgba(0, 0, 0, 0.398438) 0px 1px 1px;
      margin:0 12px 12px 0;
      &:hover{
        border-color:#bc3b3b;
      }
    }
  }
}

hr{
  border-top:none;
  border-bottom: 1px dashed #e3e3e3;
}

h1, h2, h3, h4{
  text-transform:uppercase;
  font-family:"proxima-nova";
  .btn{
    margin-left:10px;
  }
}

.avatar{
  margin-top:15px;
}

.hn{
  margin-top:-8px;
  margin-bottom:-16px;
  margin-left:-8px;
}
