@import 'variables.css.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $header-background;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-bottom: 127px;
}

@media (min-width: 767px) {

  .snow {
    background: $header-background asset-url('snow-bg.png') 50% 0 no-repeat;
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    display: block;
    height: 543px;
    z-index: -1;

    -webkit-animation: move 5s 1;
     -khtml-animation: move 5s 1;
       -moz-animation: move 5s 1;
	      -ms-animation: move 5s 1;
	       -o-animation: move 5s 1;
	          animation: move 5s 1;
  }

  @-webkit-keyframes move {
    0%   { opacity: 0; -webkit-transform: translateY(-400px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
  }

  @-khtml-keyframes move {
    0%   { opacity: 0; -khtml-transform: translateY(-400px); }
    100% { opacity: 1; -khtml-transform: translateY(0); }
  }

  @-moz-keyframes move {
    0%   { opacity: 0; -moz-transform: translateY(-400px); }
    100% { opacity: 1; -moz-transform: translateY(0); }
  }

  @-ms-keyframes move {
    0%   { opacity: 0; -ms-transform: translateY(-400px); }
    100% { opacity: 1; -ms-transform: translateY(0); }
  }

  @-o-keyframes move {
    0%   { opacity: 0; -o-transform: translateY(-400px); }
    100% { opacity: 1; -o-transform: translateY(0); }
  }

  @keyframes move {
    0%   { opacity: 0; transform: translateY(-400px); }
    100% { opacity: 1; transform: translateY(0); }
  }

}

a {
  color: $link-color;

  &:hover {
    color: #953030;
  }
}
.ntd {
  text-decoration: none;
}
section {
  margin: 20px 0;
}

.btn.pull-right {
  margin-left: 10px;
}

.hb {
  position: absolute;
  width: 100%;
  height: 600px;
}

.container-fluid {
  min-height: 600px;
}

.logo {
  $width: 180px;
  $height: 76px;

  width: $width;
  height: $height;
  margin: 0 auto;

  a {
    display: block;
  }

  &.logo-dark {
    background: asset-url('logo-dark.png') no-repeat bottom;
  }
}

header {
  position: relative;
  border-top: 13px solid #942f2f;

  .logo {
    margin-top: 47px;
    margin-bottom: $grid-gutter-width;
  }

  @media (min-width: 767px) {
    .tagline {
      $width: 620px;
      height: 110px;
      margin-bottom: $grid-gutter-width;
      position: relative;
      background: transparent asset-url('tagline.png') no-repeat center bottom;
    }
  }
}

.constrained {
  $side-padding: 15px;
  $width: 940px-($side-padding*2);

  // position: relative;
  // max-width: $width;
  // margin: 0 auto 0;
  // padding: 10px $side-padding;
}

nav, .faulx-nav, .locale {
  position: inherit;
}

.locale {
  text-align: right;
  margin-bottom: $grid-gutter-width;
  li {
    text-align: left;
  }
}

.faulx-nav {
  height: 5px;
}

nav {
  margin-bottom: $grid-gutter-width / 2;

  a {
    color: #efefef;
  }

  .nav {
    margin-bottom: 0;
  }

  .nav-pills a {
    background-color: $nav-pill-background;

    &:hover {
      $shadow: inset 0 3px 2px rgba(0,0,0,0.05);

      -webkit-box-shadow: $shadow;
         -moz-box-shadow: $shadow;
              box-shadow: $shadow;

      color: #efefef;
      background-color: $nav-pill-accent;
    }
  }

  .nav-pills > .active > a,
  .nav-pills > .active > a:hover {
    color: #efefef;
    background-color: $nav-pill-active;
  }
}

#main {
  @include border-top-radius(5px);
  @include box-shadow(0 0 3px 0px #ccc);
  background-color: #fff;
}

footer {
  bottom: 0;
  height: 127px;
  position: absolute;
  width: 100%;

  .dark {
    color: rgba(255,255,255,.2);
    padding: 10px 0;
    background: #434343;

    ul {
      margin-top: -45px;
      position: relative;

      @media (max-width: 767px) {
        float: none;
        text-align: center;
        margin: 15px 0;
      }

      li {
        border-left: 1px solid #333;
        display: inline-block;
        padding-left: 10px;
        padding-right: 7px;

        &:first-child {
          border-left: none;
          padding-left: 0;
        }
      }
    }

    a {
      font-weight: 800;
      font-size: 110%;
      color: $header-background;
      text-decoration: none;

      &:hover {
        border-bottom: 1px dashed $header-background;
      }
    }

    .dark-inner {
      @extend .constrained;
    }
  }

  .ftw {
    color: #444;
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: #eee;
  }
}

.forkme {
  position: absolute;
  display: block;
  top: 0;
  z-index: 10;
  right: 0;
}

.forkme img {
  border: 0;
}

.alert {
  margin-top: 10px;
}

#languages {
  margin: 0;
  li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    a {
      color: $link-color;
      display: block;
      padding: 3px 10px;
      border-radius: 5px;
      transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      text-shadow: none;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
    }
    &.disabled {
      opacity: 0.5;
    }
    &.highlighted {
      a {
        background: $link-color;
        color: #fff;
      }
    }
  }
}

#projects {
  .project {
    min-height: 160px;
    @media (max-width: 767px) {
      width: 100%;
      min-height: 0;
      margin-bottom: 20px;
    }
    p {
      word-wrap: break-word;
    }
    .title {
      padding: 5px 0;
      margin-bottom: 5px;
      border-bottom: 1px dashed #e3e3e3;
      h4 {
        display: inline;
        border-right: 1px solid #e3e3e3;
        padding-right: 10px;
        margin-right: 10px;
        text-transform: uppercase;
      }
      a {
        font-size: 12px;
      }
    }
  }
}


#users, #organisations {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  h3 {
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  .user {
    display: inline-block;
    border: 2px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 1px;
    margin: 0 8px 12px 7px;
    &:hover {
      border-color: $link-color;
    }

    @media (min-width: $screen-md-min){
      margin: 0 8px 12px 8px;
    }
    @media (min-width: $screen-lg-min){
      &:last-child {
        display: none
      }
    }
  }
}

#users ul li a img, #organisations ul li a img  {
  height: 80px;
  width: 80px;
}

hr {
  border-top: none;
  border-bottom: 1px dashed #e3e3e3;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  .btn {
    text-transform: none;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 4px;
    margin-left: 10px;
  }
}

.avatar {
  margin-top: 15px;
}

.hn {
  margin-top: -8px;
  margin-bottom: -16px;
  margin-left: -8px;
}

#skills {
  margin-bottom: 20px;
  .control-group.string {
    width: 25%;
    margin: 0;
    float: left;
    @media (max-width: 767px) {
      width: 30%;
    }
    @media (max-width: 480px) {
      width: 100%;
      label {
        float: left;
        width: 160px;
        text-align: right;
      }
      .controls {
        margin-left: 180px;
      }
    }
  }
}

.alert-info {
  h4 {
    margin: 5px 0;
  }
  hr {
    border-color: #000;
  }
}

.flag {
  height: 24px;
}

.glyphicon {
  margin-right: 0.5em
}