body{
  background:red;
  margin:0;
  padding:0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow:rgba(0, 0, 0, 0.398438) 0px 1px 3px;
  color:#fff;
}
canvas{
  position:absolute;
  top:0;
  z-index:-1;
}
h1{
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
  text-align:center;
  margin:40px 0 60px;
}

@media (min-width: 480px) and (max-width: 767px) {
  h1{
    font-size:80px;
  }
}

a{
  color: #fff;
  text-decoration:underline;
  &:hover{
    color: #ddd;
  }
  &.btn{
    text-decoration:none;
  }
}

@media (max-width: 480px) {
  h1{
    font-size:60px;
  }
}

h1 span{
  display:block;
  margin-top:20px;
  font-size: 24px;
  letter-spacing:0;
}

.forkme{
  position: absolute;
  display:block;
  top: 40px;
  z-index: -1;
  right: 0;
}

.forkme img{
  border: 0;
}

footer{
  font-size:14px;
  margin:20px 0;
}

.alert{
  margin-top:10px;
}

#languages{
  margin:0;
  li{
    box-shadow:rgba(0, 0, 0, 0.398438) 0px 1px 3px;
    float:left;
    display:inline-block;
    height:20px;
    background:#fff;
    padding:3px 10px;
    list-style:none;
    border-radius:10px;
    margin-right:10px;
    margin-bottom:5px;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    a{
      color:red; 
      text-shadow:none;
      text-decoration:none;
    }
    &.disabled{
      opacity:0.5;
    }
  }
}

#projects{
  .project{
    height:200px;
  }
}

hr{
  border-top:none;
}