@import 'variables.css.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $header-background;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  line-height: 1.6em;
}

h1, h2, h3, h4, .page-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  .btn {
    margin-left: 10px;
    font-family: $font-family-base;
  }
}

.block {
  margin-bottom: 60px;
  background-color: #fff;
  padding: 30px;

  &.intro {
    padding: 60px 30px;
  }
}

.intro-block {
  text-align: center;
  padding: 0 30px;

  .octicon {
    color: $header-background;
    font-size: 60px;
    opacity: 0.1;
  }

  h4 {
    text-transform: uppercase;
    margin: 10px 0 15px;
  }
}

.tips {
  background: #fff;
  margin: -60px auto 60px;
  padding: 1px 16px;

  .row {
    background-color: #f5f5f5;
  }
}

.tip-block {
  height: 100%;
  padding: 30px;
  text-align: center;

  .subtitle {
    margin-bottom: 15px;

    .octicon {
      background: #353535;
      color: #fff;
      display: block;
      height: 60px;
      width: 60px;
      border-radius: 50px;
      font-size: 20px;
      margin: -60px auto 30px;
      line-height: 60px;
    }
  }
}

.coderwall-badge-link {
  display: inline-block;

  img {
    width: 60px;
  }
}

.cta-block {
  text-align: center;
  border-top: 1px dashed #e3e3e3;
  height: 0;
  margin: 50px 0 70px;
}

.cta {
  font-size: 16px;
  border: 10px solid #fff;
  position: relative;
  padding: 20px 25px;
  color: #fff;
  background: #cc3034;

          transform: translateY(-50%);
     -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

  .octicon {
    margin-right: 10px;
  }

  &:hover {
    color: #fff;
  }
}

@media (min-width: 767px) {

  .snow {
    background: $header-background asset-url('snow-bg.png') 50% 0 no-repeat;
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    display: block;
    height: 543px;
    z-index: -1;

    -webkit-animation: move 5s 1;
     -khtml-animation: move 5s 1;
       -moz-animation: move 5s 1;
	      -ms-animation: move 5s 1;
	       -o-animation: move 5s 1;
	          animation: move 5s 1;
  }

  @-webkit-keyframes move {
    0%   { opacity: 0; -webkit-transform: translateY(-400px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
  }

  @-khtml-keyframes move {
    0%   { opacity: 0; -khtml-transform: translateY(-400px); }
    100% { opacity: 1; -khtml-transform: translateY(0); }
  }

  @-moz-keyframes move {
    0%   { opacity: 0; -moz-transform: translateY(-400px); }
    100% { opacity: 1; -moz-transform: translateY(0); }
  }

  @-ms-keyframes move {
    0%   { opacity: 0; -ms-transform: translateY(-400px); }
    100% { opacity: 1; -ms-transform: translateY(0); }
  }

  @-o-keyframes move {
    0%   { opacity: 0; -o-transform: translateY(-400px); }
    100% { opacity: 1; -o-transform: translateY(0); }
  }

  @keyframes move {
    0%   { opacity: 0; transform: translateY(-400px); }
    100% { opacity: 1; transform: translateY(0); }
  }

}

a {
  color: $link-color;

  &:hover {
    color: #953030;
  }
}
.ntd {
  text-decoration: none;
}
section {
  margin: 20px 0;
}

.btn.pull-right {
  margin-left: 10px;
}

.hb {
  position: absolute;
  width: 100%;
  height: 600px;
}

.container-fluid {
  min-height: 600px;
}

.logo {
  $width: 180px;
  $height: 76px;

  width: $width;
  height: $height;
  margin: 0 auto;

  a {
    display: block;
  }
}

header {
  position: relative;
  border-top: 13px solid #942f2f;

  .logo {
    margin: 45px auto;
  }

  @media (min-width: 767px) {
    .tagline {
      $width: 620px;
      height: 110px;
      margin-bottom: 60px;
      position: relative;
      background: transparent asset-url('tagline.png') no-repeat center bottom;
    }
  }
}

.constrained {
  $side-padding: 15px;
  $width: 940px-($side-padding*2);

  // position: relative;
  // max-width: $width;
  // margin: 0 auto 0;
  // padding: 10px $side-padding;
}

nav, .faulx-nav, .locale {
  position: inherit;
}

.locale li {
  display: block;
  text-align: left;
}

.faulx-nav {
  height: 5px;
}

nav {
  margin: 0 -15px 30px;

  li {
    margin-right: $grid-gutter-width / 2;
  }

  .nav-pills a {
    background-color: $nav-pill-background;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #DFC1C1;

    &.logout {
      margin-right: 0;
    }

    &:hover {
      color: #efefef;
      background-color: $nav-pill-accent;
    }
  }

  .nav-pills > .active > a,
  .nav-pills > .active > a:hover {
    color: #efefef;
    background-color: $nav-pill-active;
  }

  .octicon {
    width: 15px;
  }

  .logout {
    margin-right: 0;
    float: right;
  }
}
.nav-tabs {
  margin-bottom: $grid-gutter-width / 2;
}

footer {
  width: 100%;

  .dark {
    color: rgba(255,255,255,.2);
    padding: 2.75em 0;
    background: #434343 asset-url('logo-dark.png') no-repeat center center;
  }
  .unstyled {
    padding-left: 0;
    position: relative;
    margin: 0;

    @media (max-width: 767px) {
      float: none;
      text-align: center;
      margin: 15px 0;
    }

    > li {
      border-left: 1px solid #333;
      display: inline-block;
      padding-left: 10px;
      padding-right: 7px;

      &:first-child {
        border-left: none;
        padding-left: 0;
      }

      > a {
        font-weight: 800;
        font-size: 110%;
        color: #ccc;
        text-decoration: none;

        &:hover {
          border-bottom: 1px dashed $header-background;
          text-decoration: none;
        }
      }
    }
  }

  .ftw {
    color: #444;
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
  }
}

.forkme {
  position: absolute;
  display: block;
  top: 0;
  z-index: 10;
  right: 0;
}

.forkme img {
  border: 0;
}

.alert {
  margin-top: 15px;
}

#languages {
  margin: 0;
  li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    a {
      color: $link-color;
      display: block;
      padding: 3px 10px;
      border-radius: 5px;
      transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      text-shadow: none;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
    }
    &.disabled {
      opacity: 0.5;
    }
    &.highlighted {
      a {
        background: $link-color;
        color: #fff;
      }
    }
  }
}

.project,
.pull_request {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px dotted #d0d0d0;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .project-link {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .project-label {
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;

    &, .octicon {
      color: #666;
      font-size: 10px;
    }
  }

  p {
    word-wrap: break-word;
    margin: 0;
    color: #333;
  }

  .project-title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
}

hr {
  border-top: none;
  border-bottom: 1px dashed #e3e3e3;
}


.avatar {
  margin-top: 15px;
}

.hn {
  margin-top: -8px;
  margin-bottom: -16px;
  margin-left: -8px;
}

#skills {
  margin-bottom: 20px;
  .control-group.string {
    width: 25%;
    margin: 0;
    float: left;
    @media (max-width: 767px) {
      width: 30%;
    }
    @media (max-width: 480px) {
      width: 100%;
      label {
        float: left;
        width: 160px;
        text-align: right;
      }
      .controls {
        margin-left: 180px;
      }
    }
  }
}

.alert-info {
  margin: 15px;

  h2 {
    margin-top: 0;
  }

  h4 {
    margin: 10px 0 5px 0;
  }
  hr {
    border-color: #000;
  }
}

.flag {
  height: 24px;
}

.glyphicon {
  margin-right: 0.5em
}

#team_box,
.org-list {
  padding: 0
}

.page-title {
  font-size: 30px;
}

.block-title {
  margin-top: 0;
}

.avatar-block {
  text-align: center;

  .username {
    display: none;
  }
}

@media (max-width: 990px) {
  .left, .right {
    padding: 0;
  }
}

.title-block {
  background-color: #f5f5f5;
  margin: -30px -30px 0;
  padding: 30px 60px;
  text-align: center;

  .octicon {
    font-size: 40px;
    color: #d0d0d0;
    margin-bottom: 20px;
  }

  p {
    margin: 0 auto 15px;
  }
}

.two-up-split {
  .block {
    margin-top: 0;
  }

  &.left {
    padding-left: 0;
  }

  &.right {
    padding-right: 0;
  }
}