// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.collaborator {
  text-align: center;
  .caption {
    padding: 9px 2px;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1em;
      background: -webkit-linear-gradient(left, rgba(#fff,0), #fff);
      background: linear-gradient(left, rgba(#fff,0), #fff);
    }
  }
}
#info h4 {
  margin-top: 30px;
}

#coderwall {
  a {
    display: inline-block;
  }
  img {
    width: 120px;
  }
}
.center {
  text-align: center;
}

.checkbox {
  display: inline-block;
}
