// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.collaborator {
  text-align: center;
}

#info h4{
  margin-top:30px;
}

#coderwall{
  a{
    display:inline-block;
  }
  img{
    width:120px;
  }
}
.center{
  text-align:center;
}