.users {
  text-align: center;
}

.user a {
  display: block;
}

#team_box{
  margin:0;
  li{
    float: left;
    list-style: none;
    padding: 5px;
    width:100px;
    height:100px;
    overflow:none;
    text-align: center;
  }
}

.team-coders{
  clear: both;
  float: none;
}
