.user a {
  display: block;
}

#team_box {
  @extend .clearfix;
  margin: 0 0 $grid-gutter-width/2 0;
  li {
    float: left;
    list-style: none;
    padding: 5px;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
    overflow: none;
    text-align: center;
  }
  .badge-name {
    font-size: 12px
  }
}

.team-coders {
  clear: both;
  float: none;
}

#organisationlist{
  margin:0;
  padding: 0;
  li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    width:100px;
    height:100px;
    overflow:none;
    text-align: center;
  }
}