// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  text-align: center;
  a {
    color: #BC3B3B;
  }
}