.user a {
  display: block;
}

#team_box {
  @extend .clearfix;
  margin: 0 0 $grid-gutter-width/2 0;
  li {
    float: left;
    list-style: none;
    padding: 5px;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
    overflow: none;
    text-align: center;
  }
  .badge-name {
    font-size: 12px
  }
}

.team-coders {
  clear: both;
  float: none;
}

.avatar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;

  .avatar-img {
    width: 40px;
    height: 40px;
  }
}

.avatar-list-lg {
  background: #f0f0f0;
  margin: 20px 0 0;
  font-size: 0;

  .avatar-cell {
    width: 12.5%;
    margin: 0;
  }

  .avatar-img {
    width: 100%;
    height: auto;
  }
}

.avatar-cell {
  position: relative;

  .pr-badge {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    bottom: 0;
    right: 0;
    padding: 4px;
    background: #222;
    line-height: 1;

    .octicon { font-size: 9px; }
  }

  .username {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    line-height: 1;
    font-size: 12px;
    text-shadow: 0 0 1px #222, 0 0 1px #222;
  }
}


.avatar-cell {
  display: inline-block;
  text-align: center;
  list-style: none;
  overflow: none;
  margin-right: 10px;
  margin-bottom: 10px;

  .avatar-link {
    display: block;
  }
}

.sidebar-block {
  padding: 30px;
  margin: 40px 0 30px;
  background: #f5f5f5;
  position: relative;

  .block-title {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    top: -10px;
    margin: 0;
    position: absolute;
  }
}

.event-item {
  margin: 0 -30px;
  padding: 10px 30px;
  .octicon {
    font-size: inherit;
    width: 12px;
    text-align: center;
  }
}
