:plain
  <svg class="svg-snow" viewBox="0 0 1000 420" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin">
    <g>
      <circle class="snow snow-1" cx="500" cy="8"  r="1" />
      <circle class="snow snow-2" cx="200" cy="3"  r="2" />
      <circle class="snow snow-3" cx="900" cy="5"  r="3" />
      <circle class="snow snow-4" cx="100" cy="3"  r="4" />
      <circle class="snow snow-5" cx="400" cy="5"  r="5" />
      <circle class="snow snow-6" cx="300" cy="8"  r="6" />
      <circle class="snow snow-7" cx="700" cy="14" r="7" />
      <circle class="snow snow-8" cx="600" cy="14" r="8" />
      <circle class="snow snow-9" cx="800" cy="14" r="9" />
      <circle class="snow-end snow-end-1" cx="500" cy="8"  r="1" />
      <circle class="snow-end snow-end-2" cx="200" cy="3"  r="2" />
      <circle class="snow-end snow-end-3" cx="900" cy="5"  r="3" />
      <circle class="snow-end snow-end-4" cx="100" cy="3"  r="4" />
      <circle class="snow-end snow-end-5" cx="400" cy="5"  r="5" />
      <circle class="snow-end snow-end-6" cx="300" cy="8"  r="6" />
      <circle class="snow-end snow-end-7" cx="700" cy="14" r="7" />
      <circle class="snow-end snow-end-8" cx="600" cy="14" r="8" />
      <circle class="snow-end snow-end-9" cx="800" cy="14" r="9" />
    </g>
  </svg>
