.alert.alert-info
  %h3=t("information.title", year: CURRENT_YEAR)
  %p=t("information.last_year_stats", year: CURRENT_YEAR,
                                      developers: contributors_in(CURRENT_YEAR),
                                      pull_requests: pull_requests_in(CURRENT_YEAR),
                                      projects: projects_in(CURRENT_YEAR)).html_safe

  %p=t("information.get_ready", year: CURRENT_YEAR)
  %hr
  %p=t("information.help_open_source")

  %h4= link_to 'CodeMontage', 'http://codemontage.com/'

  %p Give forward by contributing to open source, social good projects that benefit organizations making a difference in the world.

  %h4= link_to 'CodeTriage', 'http://www.codetriage.com/'

  %p=t("information.codetriage")

  %h4= link_to 'ContribHub', 'http://contribhub.com/'

  %p=t("information.contribhub.tagline")
  %p=t("information.contribhub.description")
