- if logged_in?
  %nav
    .navbar.navbar-static-top
      .navbar-inner
        = link_to "24 Pull Requests", root_path(), :class => 'brand'
        %ul.nav.pull-right
          %li= link_to "Dashboard", dashboard_path()
          %li= link_to "Logout", logout_path()
