<ul class="nav pull-right">
  <% if logged_in? %>
    <li><%= link_to "Dashboard", dashboard_path() %></li>
    <li><%= link_to "Logout", logout_path() %></li>
  <% else %>
    <li><%= link_to "Login with Github", login_path() %></li>
  <% end %>
</ul>
