- if logged_in?
  %nav
    %ul.nav.nav-pills
      %li
        = link_to 'Dashboard', dashboard_path
      %li
        = link_to 'Account Preferences', email_path

      %li.pull-right
        = link_to 'Logout', logout_path

- else # Just for padding
  .faulx-nav
